################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/be.department/be.Department/.vs/be.Department/v17/.futdcache.v1
