<body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-12">
                        <h2><span>Department name: </span> <strong>{{manageEmployee.departmentName}}</strong> Details
                            For Department </h2>
                        <span>Employee name: </span> <strong>{{manageEmployee.fullName}}</strong> <span> Position name :
                        </span> <strong> {{manageEmployee.postionName}}</strong>
                    </div>

                </div>
            </div>
            <div class="container">
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-12 col-xl-12 mt-5">
                        <form id="contact-form" name="contact-form" action="mail.php" method="POST">
                            <!--Grid row-->
                            <div class="row">
                                <!--Grid column Firstname-->
                                <div class="col-md-6">
                                    <div class="md-form mb-2">
                                        <label for="name" class="">First name</label>
                                        <input type="text" id="name" name="name" class="form-control">
                                    </div>
                                </div>
                                <!--Grid column-->

                                <!--Grid column Lastname-->
                                <div class="col-md-6">
                                    <div class="md-form mb-2">
                                        <label for="name" class="">Last name</label>
                                        <input type="text" id="name" name="name" class="form-control">
                                    </div>
                                </div>
                                <!--Grid column-->



                                <!--Grid column Fullname-->
                                <div class="col-md-6">
                                    <div class="md-form mb-2">
                                        <label for="name" class="">Full name</label>
                                        <input type="text" id="name" name="name" class="form-control">
                                    </div>
                                </div>
                                <!--Grid column-->

                                <!--Grid column Email-->
                                <div class="col-md-6">
                                    <div class="md-form mb-2">
                                        <label for="name" class="">Email</label>
                                        <input type="text" id="name" name="name" class="form-control">
                                    </div>
                                </div>
                                <!--Grid column-->
                                <!--Grid column Password-->
                                <div class="col-md-6">
                                    <div class="md-form mb-2">
                                        <label for="name" class="">Password</label>
                                        <input type="password" id="name" name="name" class="form-control">
                                    </div>
                                </div>
                                <!--Grid column-->

                                <!--Grid column Password-->
                                <div class="col-md-6">
                                    <div class="md-form mb-2">
                                        <label for="name" class="">Confrim Password</label>
                                        <input type="password" id="name" name="name" class="form-control">
                                    </div>
                                </div>
                                <!--Grid column-->


                                <!--Grid column Password-->
                                <div class="col-md-6">
                                    <div class="md-form mb-2">
                                        <select>
                                            <option selected>Department</option>
                                            <option>combobox 1</option>
                                            <option>combobox 2</option>
                                            <option>combobox 3</option>
                                        </select>
                                    </div>
                                </div>
                                <!--Grid column-->


                                <!--Grid column Password-->
                                <div class="col-md-6">
                                    <div class="md-form mb-2">
                                        <input type="checkbox" class="ml-2" name="isAccepted" /> Active
                                    </div>
                                </div>
                                <!--Grid column-->

                            </div>
                        </form>

                        <div class="container" class="mt-10">
                            <div class="row">
                                <div><strong style="font-size: 30px;">Send file many Department</strong></div>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th [width]="50">Choice</th>
                                            <th [width]="50">Department</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- <tr *ngFor="let employee of employeeList">
                                            <td>{{employee.email}}</td>
                                            <td>{{employee.firstname}}</td>
                                            <td>{{employee.lastname}}</td>
                                            <td>{{employee.postionName}}</td>
                                            <td>
                                                <a *ngIf="manageEmployee.postionId === admin" class="add" title="Add"
                                                    data-toggle="tooltip"><i class="material-icons"></i></a>
                                                <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons"></i></a>
                                                <a *ngIf="manageEmployee.postionId === admin" class="delete" title="Delete"
                                                    data-toggle="tooltip"><i class="material-icons"></i></a>
                                            </td>
                                        </tr> -->
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <!--Grid column-->
                </div>
            </div>

        </div>
    </div>
</body>